*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
 /* Header */
header{
    background: rgb(0,0,4);
    background: linear-gradient(90deg, rgba(0,0,4,1) 0%, rgba(9,9,121,1) 35%, 
         rgba(3,81,97,1) 100%);
}
.logo-navbar{
    display: flex;
    justify-content: space-between;
}
.logo-navbar img{
    padding-top: 8px;
    object-fit: cover;
    width: 120px;
}
.nav-bar{
    width: 100%;
    height: 100vh;
    position: fixed;
}
.nav-bar ul{
    list-style: none;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,4,.3);
    backdrop-filter: blur(5px);
    animation-name:fadeIn;
    animation-duration: .5s;
    animation-timing-function: linear;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.nav-bar ul li{
    padding: 30px 0;
}
.logo-navbar button{
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 10;
    cursor: pointer;
}
.nav-bar a{
    text-decoration: none;
    color: white;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-content h1{
    font-weight: 300;
    font-style: italic;
    color: #fff;
    font-size: 18px;
}
.header-content h3{
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    width: 80%;
    color: #fff;
}
.header-content h2{
    letter-spacing: 2px;
    font-size: 6vw;
    text-align: center;
    margin: 10px 0;
    color: #5de1e6;
}


.icons-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-bottom: 20px;
}
.icons-content span{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.icons-content span i{
    font-size: 25px;
    cursor: pointer;
    transition: all .3s linear;
}
.icons-content span h3{
    padding-top: 10px;
    font-size: 13px;
    font-weight: 300;
}
.icons-content span:nth-child(1) i:hover{
    color:aqua;
}
.icons-content span:nth-child(2) i:hover{
    color:orange;
}
.icons-content span:nth-child(3) i:hover{
    color:green;
}
.icons-content span:nth-child(4) i:hover{
    color:violet;
}



/* FIN DU HEADER */
/* SECTION 1 */
.section-1{
    padding-top: 30px;
}
.my-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;

}
.picture-infos{
    display: flex;
    margin-bottom: 20px;
}
.portrait{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
.infos{
    width: 50%;
}
.infos p{
    padding: 2px 0;
    font-size: 13px;
}
.infos p b{
    color: #0a0f77;
}

.portrait img{
    object-fit: cover;
    width: 130px;
    height: 150px;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
}
/* FIN SECTION 1 */
/*SECTION 2 */
.mes-competences{
    margin-top: 30px;
    background-color: rgb(230, 229, 229);
    display: flex;
    justify-content: center;
}
.mes-competences h3{
    text-align: center;
    padding: 30px 0;
}
.skill-content{
    max-width: 85%;
}


.front-skill{
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.front-skill h2{
    margin-bottom: 10px;
}
.title-front{
    color: aqua;
}
.title-responsive{
    color: green;
}
.title-maquette{
    color: violet;
}
.skill-ok{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.skill-ok li{
    list-style-type:none ;
}
.skill-ok li i {
    color: #0a0f77;
    padding-right: 1px;
}
.title-back {
    color: orange;
}

.environnement-content i{
    padding: 10px 10px 10px 0px;
}
.title-enviro{
    color: #9B59B6;
}
/* FIN SECTION 2 */

/* SECTION 3 */

.mon-parcours{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.mon-parcours .title-parcours{
    text-align: center;
    padding: 30px 0;
}
.parcours-content{
    max-width: 85%;
}

.web-parcours{
    background-color: aliceblue;
}
h2 i{
    padding-right: 15px;
}
.web-parcours h2{
    text-transform: uppercase;
    font-size: 20px;
}
.dev-web-infos h2{
    color:#5cc3f3;
}
.web-parcours p:nth-child(2){
    text-transform: uppercase;
    padding: 10px 0;
}
.web-parcours ul{
    margin-top: 15px;
    list-style: none;
}
.web-parcours ul li{
    padding: 5px 10px 10px 0;
}
.dev-web-infos ul li::before{
    color: #5cc3f3;
}

.web-parcours{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}
.web-parcours ul li::before{
    content: '●';
    padding-right: 10px;
}
.sas-web-infos h2{
    color:orange;
}
.sas-web-infos ul li::before{
    color: orange;
}

.signature-infos h2{
    color:green;
}
.signature-infos ul li::before{
    color: green;
}

.sos-web-infos ul li::before{
    color: #9B59B6;
}

.sos-web-infos h2{
    color:#9B59B6;

}
/* FIN SECTION 3 */

/* PAGE CONTACT */
.contact{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 229, 229);
}
.contact .title-contact{
    text-align: center;
    padding: 30px 0;
}
.contact-content{
    max-width: 85%;
}
.contact-content h3{
    text-align: center;
    font-weight: 200;
}


.same-infos{
    
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.tel-infos{
    color: #3498DB;
    background-color: #E0EFF9;
}
.mail-infos{
    color: rgb(255, 166, 0);
    background-color: rgb(255, 217, 147);
}
.localisation-infos{
    background-color: #DFF7E9;
    color: #2ECC71;
}
.same-infos i{
    font-size: 60px;
    margin: 10px 0;
}

.same-infos p{
    text-transform: uppercase;
    padding: 10px 0;
}
/* FIN CONTACT */
@media (min-width: 700px){
    .logo-navbar button{
        display: none;
    }
    .nav-bar ul{
        display: flex !important;
        backdrop-filter: none;
        flex-direction: row;
        background-color: inherit;
    }
    .nav-bar ul li{
        padding: 0 10px;
    }
    .nav-bar {
        position: inherit;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
}