*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
 /* Header */
header{
    background: rgb(0,0,4);
    background: linear-gradient(90deg, rgba(0,0,4,1) 0%, rgba(9,9,121,1) 35%, 
         rgba(3,81,97,1) 100%);
}
.logo-navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    
}
.logo-navbar img{
    object-fit: cover;
    width: 100px;
    height: 40px;
    margin-top: 10px;
}
.nav-bar{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
}
.nav-bar ul{
    list-style: none;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,4,.3);
    backdrop-filter: blur(5px);
    animation-name:fadeIn;
    animation-duration: .5s;
    animation-timing-function: linear;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.nav-bar ul li{
    padding: 30px 0;
}
.logo-navbar button{
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 100;
    cursor: pointer;
    animation: color 1s  ease-in-out infinite alternate;
}
@keyframes color {
    0%{
        color: white;
    }
    100%{
        color: black;
    }
}
.nav-bar a{
    text-decoration: none;
    color: white;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
    animation: spawn .8s ease-in alternate;
}
@keyframes spawn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.header-content h1{
    font-weight: 300;
    font-style: italic;
    color: #fff;
    font-size: 18px;
}
.header-content h3{
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    width: 80%;
    color: #fff;
}
.header-content h2{
    letter-spacing: 2px;
    font-size: 6vw;
    text-align: center;
    margin: 10px 0;
    color: #5de1e6;
}


.icons-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-bottom: 20px;
    
    animation: spawn2 1.5s ease-in-out;
}
@keyframes spawn2 {
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;

    }
}
.icons-content span{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.icons-content span i{
    font-size: 25px;
    cursor: pointer;
    transition: all .3s linear;
}
.icons-content span h3{
    padding-top: 10px;
    font-size: 13px;
    font-weight: 300;
}
.icons-content span:nth-child(1) i:hover{
    color:aqua;
}
.icons-content span:nth-child(2) i:hover{
    color:orange;
}
.icons-content span:nth-child(3) i:hover{
    color:green;
}
.icons-content span:nth-child(4) i:hover{
    color:violet;
}



/* FIN DU HEADER */
/* SECTION 1 */
.section-1{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.my-infos{
    display: flex;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
    z-index: -1;
}
.picture-infos{
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
}
.portrait{
    margin-right: 15px;
    z-index: -1;
}
.infos{
    width: 50%;
}
.infos p{
    padding: 2px 0;
    font-size: 13px;
}
.infos p b{
    color: #0a0f77;
}

.portrait img{
    object-fit: cover;
    width: 140px;
    height: 140px;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    
}
.button{
    width: 100%;
    display: none;
    justify-content: center;
    margin: 20px 0;
}
.button button, .button a{
    border: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #007bb6;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
/* FIN SECTION 1 */
/*SECTION 2 */
.section-2{
    overflow-x: hidden;
}
.mes-competences{
    background-color: rgb(230, 229, 229);
    display: flex;
    justify-content: center;
    
}
.mes-competences h3{
    text-align: center;
    padding: 30px 0;
}
.skill-content{
    max-width: 85%;
    
}

.front-skill{
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.front-skill h2{
    margin-bottom: 10px;
}
.title-front{
    color: #5cc3f3
}
.title-responsive{
    color: green;
}
.title-maquette{
    color: violet;
}
.skill-ok{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.skill-ok li{
    list-style-type:none ;
}
.skill-ok li i {
    color: #0a0f77;
    padding-right: 1px;
}
.title-back {
    color: orange;
}

.environnement-content i{
    padding: 10px 10px 10px 0px;
}
.title-enviro{
    color: #9B59B6;
}
.skill-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-icons .fa-code, .skill-icons .fa-server, .fa-mobile, .skill-icons .fa-pen,  .keys{
    font-size: 60px;
    display: none;
   
}
.skill-content .fa-code{
     color: #007bb6;
}
.skill-content .fa-server{
     color: orange;
}
.skill-content .fa-mobile{
     color: green;
}
.skill-content .fa-pen{
     color: violet;
}
.skill-content .keys{
     color: #9B59B6;
}
/* FIN SECTION 2 */

/* SECTION 3 */
.section-3{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: flex-end;
    z-index: -1;
}
.mon-parcours{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.mon-parcours .title-parcours{
    text-align: center;
    padding: 30px 0;
}
.parcours-content{
    max-width: 85%;
    position: relative;
}
h2 i{
    padding-right: 15px;
}
.web-parcours h2{
    text-transform: uppercase;
    font-size: 20px;
}
.dev-web-infos h2{
    color:#5cc3f3;
}
.web-parcours p:nth-child(2){
    text-transform: uppercase;
    padding: 10px 0;
}
.web-parcours ul{
    margin-top: 15px;
    list-style: none;
}
.web-parcours ul li{
    padding: 5px 10px 10px 0;
}
.dev-web-infos ul li::before{
    color: #5cc3f3;
}

.web-parcours{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    background-color: aliceblue;
}
.web-parcours::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    left: -24px;
    display: none;
}
.web-parcours:nth-of-type(2)::before{
    background-color: #3498DB;
}
.web-parcours:nth-of-type(3)::before{
    background-color: orange;
}
.web-parcours:nth-of-type(4)::before{
    background-color: green;
}
.web-parcours:nth-of-type(5)::before{
    background-color:#9B59B6;
}
.web-parcours:nth-of-type(6)::before{
    background-color:#9B59B6;
}
.web-parcours ul li::before{
    content: 'â—';
    padding-right: 10px;
}
.sas-web-infos h2{
    color:orange;
}
.sas-web-infos ul li::before{
    color: orange;
}

.signature-infos h2{
    color:green;
}
.signature-infos ul li::before{
    color: green;
}

.sos-web-infos ul li::before{
    color: #9B59B6;
}

.sos-web-infos h2, .lycee-infos h2{
    color:#9B59B6;

}


/* FIN SECTION 3 */

/* PAGE CONTACT */
.contact{
    display: flex;
    justify-content: center;
    background-color: rgb(230, 229, 229);
}
.contact .title-contact{
    text-align: center;
    padding: 30px 0;
}
.contact-content{
    max-width: 85%;
    margin-bottom: 20px;
}
.contact-content h3{
    text-align: center;
    font-weight: 200;
}
.contact-content a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 10px 0;
    z-index: 10;
}


.same-infos{
    
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.tel-infos{
    color: #3498DB;
    background-color: #E0EFF9;
}
.mail-infos{
    color: rgb(255, 166, 0);
    background-color: rgb(255, 217, 147);
}
.localisation-infos{
    background-color: #DFF7E9;
    color: #2ECC71;
}
.same-infos i{
    font-size: 60px;
    margin: 10px 0;
}

.same-infos p{
    text-transform: uppercase;
    padding: 10px 0;
}
/* FIN CONTACT */

/* FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10px 0;
}
footer ul li{
    cursor: pointer;
    font-size: 40px;
    padding: 15px;
    z-index: 10;
}
footer ul li a{
    text-decoration: none;
    color: inherit;
}
.linkedin{
    color: #007bb6;
}
.paper{
    color: grey;
}
footer h5{
    text-align: center;
    margin-bottom: 20px;
}
/*FIN FOOTER */


@media screen and (min-width: 700px){
    .logo-navbar button{
        display: none;
    }
    .nav-bar ul{
        display: flex !important;
        backdrop-filter: none;
        flex-direction: row;
        background-color: inherit;
    }
    .nav-bar ul li{
        padding: 0 10px;
    }
    .logo-navbar{
        position: relative;
    }
    .nav-bar {
        position: absolute;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10px;
    }
    .logo-navbar img{
        margin: 0;
    }
    .button{
        display: flex;
    }
}

@media screen and (min-width: 1024px) {
    .picture-infos{
        width: 30%;
    }
    .about-me-text{
        width: 70%;
    }
    .header-content h2{
        font-size: 3vw;
    }
    .web-parcours{
        margin-left: 20px;
    }
    .web-parcours::before{
        display: block;
    }
    .my-infos{
        flex-direction: row;
        width: 60%;
    }
    .picture-infos{
        flex-direction: column;
        margin-right: 20px;
    }
    .infos{
        margin-top: 10px;
        width: 100%;
    }
    .infos p{
        padding: 5px 0;
        font-size: 1em;
    }
    .about-me-text p{
        font-size: 1.2em;
    }
    
    .timeline{
    margin-bottom: 20px;
    min-height: 92%;
    width: 2px;
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    }
    .timeline > span{
        width: 10px;
        height: 20px;
        position: relative;
        display: flex;
        align-items: center;
        border: none;
        padding: 30px 0;
        background-color: rgb(255, 255, 255);
    }
    .timeline span span {
        position: absolute;
        width: 100%;
        height: 20px;
        border-radius: 100px;
    }
    .timeline > span:nth-child(2){
        top:295px;
    }
    .timeline > span:nth-child(3){
        top: 535px;
    }
    .timeline > span:nth-child(4){
        top: 650px;
    }
    .timeline > span:nth-child(1) span{
        background-color: #007bb6;
        
    }
    .timeline > span:nth-child(2) span{
        background-color: orange;
    }
    .timeline > span:nth-child(3) span{
        background-color: green;
    }
    
    .timeline > span:nth-child(4) span{
        background-color: #9B59B6;
    }
    .timeline > span:nth-child(5) span{
        background-color: #9B59B6;
    }
    .skill-icons .fa-code, .fa-server, .fa-mobile, .fa-pen,.keys{
        display: block !important;
        margin: 0 30px;

    }
    .front-skill{
        width: 60%;
    }
    .contact-infos{
        margin: 20px 0;
        display: flex;
        width: 100%;
    }
    .same-infos{
        margin: 0 30px;
    }
}